<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
		<div class="navbar-nav">
			<% if user_signed_in? %>
       <a class="nav-item nav-link" href="/users/sign_in"><%= current_user.email %></a>
        <a class="nav-item nav-link" href="/users/sign_out" data-method="delete">로그아웃</a>
      <% else %>
        <a class="nav-item nav-link" href="/users/sign_in">로그인</a>
        <a class="nav-item nav-link" href="/users/sign_up">회원가입</a>
      <% end %>
			<a class="nav-link" href="#">고객센터</a>
		</div>
	</div>
</nav>
<nav class="navbar navbar-light bg-light">
	<div class="container justify-content-center">
		<a class="navbar-brand" href="/">
			<img
				src="https://res.kurly.com/images/marketkurly/logo/logo_x2.png"
				alt="마켓컬리 로고"
				style="display: block;"
				width="100"
				height="80"
			/>
		</a>
	</div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
		<div class="navbar-nav">
			<a class="nav-link active" aria-current="page" href="/packs">신상품</a>
			<a class="nav-link" href="#">베스트</a>
			<a class="nav-link" href="#">알뜰쇼핑</a>
			<a class="nav-link" href="#">특가/혜택</a>
		</div>
	</div>
</nav>