<div class="container-fluid">
	<div class="row">
		<div class="card-group">
			<div class="card" style="width: 30rem;">
				<div class="card-body">
					<h5 class="nav-link text-dark">(웰컴) 김성인님</h5>
					<p class="nav-link text-dark">
						적립 5%
					</p>
					<p class="nav-link text-dark">
						최초 1회 무료배송
					</p>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<h5>
						<a href="#" class="nav-link text-dark">적립금</a>
					</h5>
					<p class="nav-link text-dark">
						9000원
					</p>
					<p class="nav-link text-dark">
						<small class="text-muted">소멸 예정 9000원</small>
					</p>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<h5>
						<a href="#" class="nav-link text-dark">쿠폰</a>
					</h5>
					<p class="nav-link text-dark">
						0개
					</p>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<h5 class="nav-link text-dark">컬리퍼플 박스</h5>
					<a class="nav-link text-dark" href="#">
						알아보기
					</a>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<h5 class="nav-link text-dark">컬리 패스</h5>
					<a class="nav-link text-dark" href="#">
						알아보기
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row mt-5">
	<div class="col-3">
		<ul class="nav flex-column ml-3">
			<li class="nav-item">
				<h5>
					<a class="nav-link text-dark" href="#">마이컬리</a>
				</h5>
			</li>
			<li class="nav-item">
				<ul class="nav flex-column ml-3">
					<li class="nav-item">
						<a href="/orders" class="nav-link text-dark">주문 내역</a>
					</li>
					<li class="nav-item">
						<a href="#" class="nav-link text-dark">선물 내역</a>
					</li>
					<li class="nav-item">
						<a href="#" class="nav-link text-dark">배송지 관리</a>
					</li>
					<li class="nav-item">
						<a href="#" class="nav-link text-dark">상품 후기</a>
					</li>
					<li class="nav-item">
						<a href="#" class="nav-link text-dark">상품 문의</a>
					</li>
					<li class="nav-item">
						<a href="#" class="nav-link text-dark">적립금</a>
					</li>
					<li class="nav-item">
						<a href="#" class="nav-link text-dark">쿠폰</a>
					</li>
					<li class="nav-item">
						<a href="#" class="nav-link text-dark">개인정보 수정</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div>