<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="mt-4">
				<h2>장바구니</h2>
				<table class="table">
					<thead>
						<tr>
							<th scope="col"></th>
							<th scope="col" style="width: 30%;"></th>
							<th scope="col"></th>
							<th scope="col"></th>
							<th scope="col" style="width: 20px;"></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">1</th>
							<td>Mark</td>
							<td>Otto</td>
							<td>@mdo</td>
							<td>
								<a href="#"><i class="fas fa-times"></i></a>
							</td>
						</tr>
						<tr>
							<th scope="row">2</th>
							<td>Jacob</td>
							<td>Thornton</td>
							<td>@fat</td>
							<td>
								<a href="#"><i class="fas fa-times"></i></a>
							</td>
						</tr>
						<tr>
							<th scope="row">3</th>
							<td colspan="2">Larry the Bird</td>
							<td>@twitter</td>
							<td>
								<a href="#"><i class="fas fa-times"></i></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>